
<header> 
  <h1 style="color:brown">WELCOME TO TINY <em>url</em></h1>
   <a href="/register">  <button>Register</button></a>
  <% if(user) { %>
  <span style="color:green">Welcome, <%= user.email %> </span>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>
  <a href="/urls"> <button>Mylinks</button></a>



   <% } else{%> 
  <a href="/login"> <button>Login here</button></a>
 
    <%}%>

</header>