<header> 
  <h1 style="color:brown">WELCOME TO TINY <em>url</em></h1>
  <h1 style="color:brown"> <%= username %></h1>
  <form action="/login" method="POST">
      <input name="username" placeholder="Enter username" style="width: 300px">
      <input type="submit" value="login">
 </form>

</header>