<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% include ./partials/_header %>
<table>
  <tbody>
    <tr>
      <th align="center">Long URL</th>
      <th align="center">Short URL</th>
    </tr>
      <% for(let shorturl in url) { %>
      <tr> 
        <td><%= url[shorturl] %> : <a href=""><%= shorturl %></a></td>
        <td>
          <form method="POST" action="/urls/<%=shorturl %>/delete">
          <button>delete</button>
        </form>
        </td>
        </tr>
        <% } %> 
      </tr>
  </tbody>
</table>
 
<footer> <% include ./partials/_footer %> </footer>
</body>
</html>
