<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% include ./partials/_header %> 
 <ul>
      <li> LongURL is <%=longURL %>  : Short URL is  <%= shortURL %> 
         <form method="POST" action="/urls/<%=shortURL %>">
         <input id="longURL" type="text" name="longURL" value="<%= longURL %>" placeholder="Edit your URL" style="width: 300px">
         <input type="submit" value="Edit">
     </form>
      </li>
</ul>

<footer> <% include ./partials/_footer %> </footer>
</body>
</html>
