<!DOCTYPE html>
<html>
<head>
  <title>Can't Access</title>
</head>
<body> 
  <h1> Tiny url </h1>
 <h3>Can't Edit/Delete this URL</h3>
 <p>you can't access other user url edit/delete page </p>
</body>
</html>