<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% include ./partials/_header %>
 <ul>
    <% for(let shorturl in url) { %>
      <li><%= url[shorturl] %> : <a href=""><%= shorturl %></a></li>
       <form method="POST" action="/urls/<%=shorturl %>/delete">
       <button>delete</button>
       </form>
    <% } %> 
    
</ul>

<footer> <% include ./partials/_footer %> </footer>
</body>
</html>
