<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
</head>
<body>  
  
  <h3>You Should Login First</h3> 
  <a href="/login"> Click here to login <button>Login</button></a>
  <a href="/register"> If you're not registered then click here <button>Register</button></a>
</body>
</html>