<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
</head>
<body>
  <form method="POST" action="/login">
      <fieldset>
        <legend>Log In Here :</legend>
        <label for="email">email:</label><br>
        <input type="email" id="email" name="email" value="" placeholder="Enter your Email" /><br />
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" value="" placeholder="Enter your password" /><br />
        <button type="submit">Log In</button>
      </fieldset>
    </form>
        <a href="/register">  <button>Register</button></a>
</body>
</html>