<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<% include ./partials/_header %> 
 <ul>
      <li> LongURL is <%=longURL %>  : Short URL is  <%= shortURL %> </li> 
</ul>

<footer> <% include ./partials/_footer %> </footer>
</body>
</html>
